<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="net.noobwerkz.engine"
android:versionCode="1"
android:versionName="1.0">

<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="21" />
<uses-feature android:glEsVersion="0x00030000" required="true" />

<application
android:label="Noobwerkz"
android:icon="@drawable/ic_launcher"
android:hasCode="false"
>
<activity
android:name="android.app.NativeActivity"
android:configChanges="orientation|keyboardHidden" >

<meta-data
android:name="android.app.lib_name"
android:value="Entry" />


<intent-filter>
<action android:name="android.intent.action.MAIN" />
<category android:name="android.intent.category.LAUNCHER" />
</intent-filter>
</activity>
</application>
</manifest>
