**/build/*
**/.*.sw*
**/.git*
!.gitignore
**/obj/*
**/bin/*
**/libs/*
**/jni/*.so
**/gen/*
engine/platform/android-proj/assets/*
**/local.properties
**/build.xml
**/proguard-project.txt
**/Untracked.hpp
**/hlister
**/clister
**/logger
sandbox/noobengine
**/.project
**/.cproject
