#**/build/*
#engine/build/*
**.*.sw*
*.*.sw*
**/.git
**.gitignore
!.gitignore
**/obj/*
**/bin/*
**/libs/*
**/jni/*
**/gen/**
**/assets/**
**/local.properties
**/build.xml
**/proguard-project.txt
**/Untracked.hpp
**/hlister
**/clister
**/logger
sandbox/*.bin
sandbox/temp/*
sandbox/shaders/glsl/*
sandbox/shaders/gles/*
sandbox/shaders/dx9/*
sandbox/shaders/dx11/*
sandbox/temp/volumetric/*
**/e
**/shaderc

**/geometryc
**/texturec
#sandbox/*.tga
sandbox/models/test.off
.project
.cproject
CMakeLists.txt.user
build*
*.*sw*
