engine/build/*
**/.*.sw*
**/.git*
!.gitignore
engine/platform/android-proj/obj/*
engine/platform/android-proj/bin/*
engine/platform/android-proj/libs/*
engine/platform/android-proj/jni/*.so
engine/platform/android-proj/gen/*
engine/platform/android-proj/assets/*
engine/platform/android-proj/local.properties
engine/platform/android-proj/build.xml
engine/platform/android-proj/proguard-project.txt
**/Untracked.hpp
**/hlister
**/clister
**/logger
sandbox/noobengine
**/.project
**/.cproject
